[submodule "3rdparty/openssl"]
	path = 3rdparty/openssl
	url = ../openssl.git
[submodule "clamav"]
	path = clamav
	url = ../clamav.git
	branch = 0.102.3
[submodule "3rdparty/3rdparty/curl"]
	path = 3rdparty/3rdparty/curl
	url = https://github.com/curl/curl.git
[submodule "3rdparty/curl"]
	path = 3rdparty/curl
	url = https://github.com/curl/curl.git
[submodule "3rdparty/libxml2"]
	path = 3rdparty/libxml2
	url = https://github.com/GNOME/libxml2.git
[submodule "3rdparty/json-c"]
	path = 3rdparty/json-c
	url = https://github.com/json-c/json-c.git
[submodule "3rdparty/PDCurses"]
	path = 3rdparty/PDCurses
	url = https://github.com/Bill-Gray/PDCurses.git
