#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 0,100,0,0
	PRODUCTVERSION 0,100,0,0
	FILEFLAGSMASK 0x17L
#ifdef _DEBUG
	FILEFLAGS 0x1L
#else
	FILEFLAGS 0x0L
#endif
	FILEOS 0x4L
	FILETYPE 0x2L
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "00000409"
		BEGIN
			VALUE "FileDescription", "ClamWin Antivirus"
			VALUE "FileVersion", "0, 100, 0, 0"
			VALUE "InternalName", __MODULE__
			VALUE "LegalCopyright", "Copyright (C) 2005-2018 Cisco Systems, Inc. / ClamWin Pty Ltd"
			VALUE "OriginalFilename", __MODULE__
			VALUE "ProductName", "ClamWin Antivirus"
			VALUE "ProductVersion", "0, 100, 0, 0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0, 1033
	END
END

#ifdef __ICON__
100	ICON	__ICON__
#endif
